{
  "project_info": {
    "project_number": "1234567890",
    "firebase_url": "https://TU-PROYECTO-default-rtdb.firebaseio.com",
    "project_id": "TU-PROYECTO-id",
    "storage_bucket": "TU-PROYECTO-id.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:1234567890:android:abcdef123456",
        "android_client_info": {
          "package_name": "com.example.guardbox64"
        }
      },
      "oauth_client": [
        {
          "client_id": "TU-OAUTH-CLIENT-ID.apps.googleusercontent.com",
          "client_type": 1,
          "android_info": {
            "package_name": "com.example.guardbox64",
            "certificate_hash": "TU-SHA-1-AQUI"
          }
        },
        {
          "client_id": "TU-WEB-CLIENT-ID.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "TU_API_KEY_AQUI"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "TU-WEB-CLIENT-ID.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
